doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  // Author Meta
  meta(name='author' content='colorlib')
  // Meta Description
  meta(name='description' content='')
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title Bakery
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet' href='css/linearicons.css')
  link(rel='stylesheet' href='css/font-awesome.min.css')
  link(rel='stylesheet' href='css/bootstrap.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/nice-select.css')
  link(rel='stylesheet' href='css/animate.min.css')
  link(rel='stylesheet' href='css/jquery-ui.css')
  link(rel='stylesheet' href='css/owl.carousel.css')
  link(rel='stylesheet' href='css/main.css')
  script(src='https://code.jquery.com/jquery-1.11.2.min.js')
  script(src='js/bootstrap.min.js')
header#header
  .header-top
    .container
      .row.align-items-center
        .col-lg-6.col-sm-6.col-4.header-top-left.no-padding
          .menu-social-icons
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-dribbble
            a(href='#')
              i.fa.fa-behance
        .col-lg-6.col-sm-6.col-8.header-top-right.no-padding
          a.btns(href='tel:+953 012 3654 896')
          a.btns(href='mailto:support@colorlib.com')
          a.icons(href='tel:+953 012 3654 896')
            span.lnr.lnr-phone-handset
          a.icons(href='mailto:support@colorlib.com')
            span.lnr.lnr-envelope
  .container.main-menu
    .row.align-items-center.justify-content-between.d-flex
      a(href='index.html')
        img(src='img/logo.png' alt='' title='')
      nav#nav-menu-container
        ul.nav-menu
          li.menu-active
            a(href='index.html') Home
          li
            a(href='about.html') About
          li
            a(href='menu.html') Menu
          li
            a(href='contact.html') Contact
          li.menu-has-children
            a(href='') #{name}
            ul
              li
                a(href='http://localhost:1234/customerprofile') Profile
              li
                a(href='index.html') Signout
      // #nav-menu-container
// #header
section#home.banner-area.relative
  .overlay.overlay-bg
  .container
    .row.fullscreen.d-flex.justify-content-center.align-items-center
      .banner-content.col-lg-10.col-md-12.justify-content-center
        h6.text-uppercase Sub Heading
        h1
          | Main Heading
        p.text-white.mx-auto
          | Sub Heading
        a.primary-btn.squire.text-uppercase.mt-10(href='#') Check Our Services
// End banner Area
// start banner Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery-ui.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
