doctype html
html(lang='en')
  head
  body
    | <
    title Booking Confirmed
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='Tablecss/images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='Tablecss/vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='Tablecss/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='Tablecss/vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='Tablecss/vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='Tablecss/vendor/perfect-scrollbar/perfect-scrollbar.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='Tablecss/css/util.css')
    link(rel='stylesheet', type='text/css', href='Tablecss/css/main.css')
    // ===============================================================================================
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700', rel='stylesheet')
    //
      CSS
      =============================================
    link(rel='stylesheet', href='css/linearicons.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/magnific-popup.css')
    link(rel='stylesheet', href='css/nice-select.css')
    link(rel='stylesheet', href='css/animate.min.css')
    link(rel='stylesheet', href='css/jquery-ui.css')
    link(rel='stylesheet', href='css/owl.carousel.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='https://code.jquery.com/jquery-1.11.2.min.js')
    script(src='js/bootstrap.min.js')
    style.
      .box {
      display: flex;
      flex-direction: row-reverse;
      }
      .box-straight {
      display: flex;
      flex-direction: row-reverse;
      }
      .flex-container {
      padding: 0;
      margin: 2%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      #root{
      width:100%;
      background-image: url('./Tablecss/images/white-bg.jpg')
      }
      #ConfirmationDetails{
      margin-left: 10%;
      }
      .cd{
      font-size: 25px;
      line-height: 28px;
      }
      table{
      margin-left: 10%;
      }
    #root
      .limiter
        center
          h1.typo-list Booking Confirmation
        .flex-container
          .table100
            div
              center
                h2.typo-list Appointment has been confirmed with Technician
                p
              br
              #ConfirmationDetails.container
                .row
                  .col-sm
                    h3.typo-list Booking ID
                  .col-sm
                    p#BID.cd B1233333
                br
                .row
                  .col-sm
                    h3.typo-list Date and Time 
                  .col-sm
                    p#DandT.cd Friday febraury 17 2019 at 8:30 pm
                br
                .row
                  .col-sm
                    h3.typo-list Technician 
                  .col-sm
                    p#Technician.cd
                br
                .row
                  .col-sm
                    h3.typo-list Address
                  .col-sm
                    p#Address.cd
                br
                .row
                  .col-sm
                    h3.typo-list Amount
                  .col-sm
                    p#Amount.cd
                br
                .row
                  .col-sm
                    h3.typo-list Payment mode
                  .col-sm
                    p#PaymentMode.cd
                br
            br
            table
              thead
                tr.table100-head
                  th.column1 Sr.no
                  th.column2 Description
                  th.column3 cost per unit
                  th.column4 Price
                  th.column5 Total
                  th.column6
              tbody
                - var k = 0; 
                tr
                 while k < 4
                   td= k++    
                tr.lastthree
                  td.column1
                  td.column2
                  td.column3
                  td.column4
                    b
                      p Subtotal
                  td.column5 $999.00
                  td.column6
                tr.lastthree
                  td.column1
                  td.column2
                  td.column3
                  td.column4
                    b
                      p VAT
                  td.column5 $999.00
                  td.column6
                tr.lastthree
                  td.column1
                  td.column2
                  td.column3
                  td.column4
                    b
                      p Total
                  td.column5 $999.00
                  td.column6
            br
            .box
              div
                a.genric-btn.primary.circle.arrow(href='../index.html')
                  | Return to website
                  span.lnr.lnr-arrow-right
      br
      br
      footer.footer-area.section-gap
        .container
          .row
            .col-lg-5.col-md-6.col-sm-6
              .single-footer-widget
                h6 About Us
                p
                  | If you own an Iphone, you’ve probably already worked out how much fun it is to use it to watch movies-it has that.
            .col-lg-5.col-md-6.col-sm-6
              .single-footer-widget
                h6 Newsletter
                p Stay update with our latest
                #mc_embed_signup
                  form.form-inline(target='_blank', novalidate='true', action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01', method='get')
                    input.form-control(name='EMAIL', placeholder='Email Address', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Email Address'", required='', type='email')
                    button.click-btn
                      i.lnr.lnr-arrow-right(aria-hidden='true')
                    div(style='position: absolute; left: -5000px;')
                      input(name='b_36c4fd991d266f23781ded980_aefe40901a', tabindex='-1', value='', type='text')
                    .info
            .col-lg-2.col-md-6.col-sm-6.social-widget
              .single-footer-widget
                h6 Follow Us
                p Let us be social
                .footer-social.d-flex.align-items-center
                  a(href='#')
                    i.fa.fa-facebook
                  a(href='#')
                    i.fa.fa-twitter
                  a(href='#')
                    i.fa.fa-dribbble
                  a(href='#')
                    i.fa.fa-behance
            .col-lg-12
              p.footer-text
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright ©
                script.
                  document.write(new Date().getFullYear());
                | 2019 All rights reserved | This template is made with 
                i.fa.fa-heart-o(aria-hidden='true')
                |  by 
                a(href='https://colorlib.com', target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                // ===============================================================================================
                script(src='Tablecss/vendor/jquery/jquery-3.2.1.min.js')
                // ===============================================================================================
                script(src='vendor/bootstrap/js/popper.js')
                script(src='vendor/bootstrap/js/bootstrap.min.js')
                // ===============================================================================================
                script(src='Tablecss/vendor/select2/select2.min.js')
                // ===============================================================================================
                script(src='Tablecss/js/main.js')
                script(src='js/vendor/jquery-2.2.4.min.js')
                script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
                script(src='js/vendor/bootstrap.min.js')
                script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
                script(src='js/easing.min.js')
                script(src='js/hoverIntent.js')
                script(src='js/superfish.min.js')
                script(src='js/jquery.ajaxchimp.min.js')
                script(src='js/jquery.magnific-popup.min.js')
                script(src='js/jquery-ui.js')
                script(src='js/owl.carousel.min.js')
                script(src='js/jquery.nice-select.min.js')
                script(src='js/mail-script.js')
                script(src='js/main.js')
