	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Bakery</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/jquery-ui.css">
			<link rel="stylesheet" href="css/owl.carousel.css">
			<link rel="stylesheet" href="css/main.css">
			<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
			<script src="js/bootstrap.min.js"></script>

<script>
function customerchangetosignup(){
$('#CustomerLoginModal').modal('hide')
$('#CustomerLoginModal').on('hidden.bs.modal', function () {
  // Load up a new modal...
  $('#CustomerSignupModal').modal('show')
})

}
function technicianchangetosignup(){
$('#TechnicianLoginModal').modal('hide')
$('#TechnicianLoginModal').on('hidden.bs.modal', function () {
  // Load up a new modal...
  $('#TechnicianSignupModal').modal('show')
})

}


function techincianchangetologin(){
$('#TechnicianSignupModal').modal('hide')
$('#TechnicianSignupModal').on('hidden.bs.modal', function () {
  // Load up a new modal...
  $('#TechnicianLoginModal').modal('show')
})

}

function customerchangetologin(){
$('#CustomerSignupModal').modal('hide')
$('#CustomerSignupModal').on('hidden.bs.modal', function () {
  // Load up a new modal...
  $('#CustomerLoginModal').modal('show')
})

}
</script>
</head>
		<body>

			<div class="modal fade" id="CustomerLoginModal">

				<div class="modal-dialog modal-dialog-centered" role="document">

					<div class="modal-content">

								<!-- Modal Header -->

								<div class="modal-header">

									<h4 class="modal-title">LOGIN</h4>

									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

								</div>

								<!-- Modal body -->

								<div class="modal-body">



										<form id='customerloginform' action="/login" method="post">
												 <center>
														<div class="mt-10">
																<input type="text" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required class="single-input" autofocus>
														</div>



														<div class="mt-10">
																		<input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input" >



																</div>

															<a href="javascript:$('#customerloginform').submit();" class="genric-btn primary circle" type="submit">Login</a></center>


											</form>

										<center>

												<p class="loginhere">
												Create an account ?<a href="" data-toggle="modal" data-target="#CustomerSignupModal" id="login" onclick="return customerchangetosignup()">Signup</a>

												</p>
										</center>


								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									    <a href="#" class="genric-btn primary" data-dismiss="modal">Close</a>
								</div>

							</div>
						</div>
					</div>



				<div class="modal fade" id="CustomerSignupModal">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
										<h4 class="modal-title">Create Account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                </div>

								<!-- Modal body -->
								<div class="modal-body">



										<form id='customersignupform' method="POST" action="/user/register">
												 <center>
														<div class="mt-10">
																<input type="text" name="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required class="single-input" autofocus>
														</div>
														<div class="mt-10">
																<input type="text" name="companyname" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'CompanyName'" required class="single-input" autofocus>
														</div>


														<div class="mt-10">
																<input type="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required class="single-input" >
														</div>
														<div class="mt-10">
																<input type="text" name="phonenumber" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" required class="single-input" >
														</div>

												<div class="mt-10">

														<input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input" >


                        </div>
														<div class="mt-10">
															<textarea class="single-textarea" name="address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required=""></textarea>
													
													 	</div>


														 <div class="mt-10">
																	<center>
																		<div>
																						<input type="checkbox" name="agree" id="agree-term" class="agree-term" />
																						<label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
																						<br><a href="javascript:$('#customersignupform').submit();" class="genric-btn primary circle" type="submit">Signup</a>

																		</div>
																 </center>
														</div>
														
											</form>




										<center>

												<p class="loginhere">
														Have already an account ? <a href="" data-toggle="modal" data-target="#CustomerSignupModal" id="login" onclick="return customerchangetologin()">Login</a>

												</p>
										</center>
								</center>




						<!-- Modal footer -->
								<div class="modal-footer">
							    <a href="#" class="genric-btn primary" data-dismiss="modal">Close</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			  


			<div class="modal fade" id="TechnicianLoginModal">

				<div class="modal-dialog modal-dialog-centered" role="document">

					<div class="modal-content">

								<!-- Modal Header -->

								<div class="modal-header">

									<h4 class="modal-title">LOGIN</h4>

									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

								</div>

								<!-- Modal body -->

								<div class="modal-body">



										<form id='technicianloginform' action="/technicianlogin" method="post">
												 <center>
														<div class="mt-10">
																<input type="text" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required class="single-input" autofocus>
														</div>



														<div class="mt-10">
																		<input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input" >



																</div>

															<a href="javascript:$('#technicianloginform').submit();" class="genric-btn primary circle" type="submit">Login</a></center>


											</form>

										<center>

												<p class="loginhere">
												Create an account ?<a href="" data-toggle="modal" data-target="#TechnicianSignupModal" id="login" onclick="return technicianchangetosignup()">Signup</a>

												</p>
										</center>


								</div>

								<!-- Modal footer -->
								<div class="modal-footer">
									    <a href="#" class="genric-btn primary" data-dismiss="modal">Close</a>
								</div>

							</div>
						</div>
					</div>



				<div class="modal fade" id="TechnicianSignupModal">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
										<h4 class="modal-title">Create Account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                </div>

								<!-- Modal body -->
								<div class="modal-body">



										<form id='techniciansignupform' method="POST" action="/techniciansignup">
												 <center>
														<div class="mt-10">
																<input type="text" name="name" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required class="single-input" autofocus>
														</div>
														<div class="mt-10">
																<input type="text" name="companyname" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'CompanyName'" required class="single-input" autofocus>
														</div>


														<div class="mt-10">
																<input type="email" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required class="single-input" >
														</div>
														<div class="mt-10">
																<input type="text" name="phonenumber" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" required class="single-input" >
														</div>

												<div class="mt-10">

														<input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input" >


                        </div>
														<div class="mt-10">
															<textarea class="single-textarea" name="address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required=""></textarea>


																	<center>
																		<div class="form-group">
																						<input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
																						<label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
																						<br><a href="javascript:$('#techniciansignupform').submit();" class="genric-btn primary circle" type="submit">Signup</a>

																		</div>
                                 </center>
														</div>

											</form>




										<center>

												<p class="loginhere">
														Have already an account ? <a href="" data-toggle="modal" data-target="#TechnicianSignupModal" id="login" onclick="return technicianchangetologin()">Login</a>

												</p>
										</center>
								</center>




						<!-- Modal footer -->
								<div class="modal-footer">
							    <a href="#" class="genric-btn primary" data-dismiss="modal">Close</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			  <header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
				  		<div class="row align-items-center">
				  			<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
					      	<div class="menu-social-icons">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
				  			</div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
								<a class="btns" href="tel:+953 012 3654 896">Your phone number</a>
				  				<a class="btns" href="mailto:support@colorlib.com">your mail</a>
				  				<a class="icons" href="tel:+953 012 3654 896">
				  					<span class="lnr lnr-phone-handset"></span>
				  				</a>
				  				<a class="icons" href="mailto:support@colorlib.com">
				  					<span class="lnr lnr-envelope"></span>
				  				</a>
				  			</div>
				  		</div>
		  			</div>
				</div>


			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
			    		<a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
						<nav id="nav-menu-container">
							<ul class="nav-menu">
							  <li class="menu-active"><a href="index.html">Home</a></li>
							  <li><a href="about.html">About</a></li>
							  <li><a href="http://localhost:1234/menu">Menu</a></li>
							  <li class="menu-has-children"><a href="">LOGIN / SIGNUP</a>
							    <ul>
							      <li class="menu-has-children"><a href="">CUSTOMER</a>
							        <ul>
							          <li><a href="#"  data-toggle="modal" data-target="#CustomerLoginModal">LOGIN</a></li>
												<li><a href="#" data-toggle="modal" data-target="#CustomerSignupModal">SIGNUP</a></li>
							        </ul>
										</li>
										<li class="menu-has-children"><a href="">TECHNICIAN</a>
											<ul>
							          <li><a href="#"  data-toggle="modal" data-target="#TechnicianLoginModal">LOGIN</a></li>
												<li>
														<a href="#" data-toggle="modal" data-target="#TechnicianSignupModal">SIGNUP</a>
									      </li>
							        </ul>
							      </li>
							    </ul>
							  </li>
							  <li><a href="contact.html">Contact</a></li>
							</ul>
						</nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header>

				<section class="banner-area relative" id="home">
					<div class="overlay overlay-bg"></div>
					<div class="container">
						<div class="row fullscreen d-flex justify-content-center align-items-center">
							<div class="banner-content col-lg-10 col-md-12 justify-content-center">
								<h6 class="text-uppercase">Sub Heasding</h6>
								<h1>
									Main Heading
								</h1>
								<p class="text-white mx-auto">
									Sub Heading
								</p>
								<a href="#" class="primary-btn squire text-uppercase mt-10">Check Our Services</a>
							</div>
						</div>
					</div>
				</section>
				<!-- End banner Area -->

			<!-- start banner Area -->

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>
 			<script src="js/jquery-ui.js"></script>
			<script src="js/owl.carousel.min.js"></script>
			<script src="js/jquery.nice-select.min.js"></script>
			<script src="js/mail-script.js"></script>
			<script src="js/main.js"></script>
		</body>
	</html>
